                                   body {
                                            background-color: #14de4a;
                                        }
                                    }
                                    /* Общие стили */
                                    .product-card {
                                        display: flex;
                                        flex-direction: column;
                                        max-width: 250px;
                                        /* Измените на нужную ширину */
                                        
                                        margin: 0 auto;
                                        background-color: #14de4a;
                                        box-shadow: 10px.10px.40px.#434040;
                                        border-radius: 15px;
                                    }
                                    .product-images {
                                        display: flex;
                                        overflow-x: auto;
                                        border-radius: 15px;
                                    }
                                    .product-images img {
                                        max-width: 100%;
                                        height: auto;
                                        display: block;
                                        margin-right: 5px;
                                        border: 1px solid #ddd;
                                        cursor: pointer;
                                        border-radius: 15px;
                                    }
                                    .product-details {
                                        display: flex;
                                        padding: 15px;
                                        margin-top: 4px;
                                        background: #f9f9f9;
                                        border-radius: 18px;
                                        box-shadow: 10px.10px.40px.#434040;
                                    }
                                    h2 {
                                        margin-top: 3px;
                                    }
                                    p {
                                        margin-top: 3px;
                                    }
                                    .call-button {
                                        margin-top: 15px;
                                        background: #0cba06;
                                        color: #fff;
                                        padding: 10px 20px;
                                        border: none;
                                        border-radius: 15px;
                                        cursor: pointer;
                                    }
                                    .call-button {
                                        text-decoration: none;
                                        /* Убираем подчёркивание */
                                        /* Дополнительные стили, если нужны */
                                    }
                                    /* @media запрос для мобильных устройств */
                                    @media (max-width: 1024px) {
                                        .product-details {
                                            flex-direction: column;
